echopype==0.7.1
joblib==1.2.0
librosa==0.10.0
matplotlib==3.7.1
numpy==1.23.5
pytorch_lightning==1.8.6
scikit_learn==1.2.2
scipy==1.9.1
soundfile==0.12.1
torch==2.0.1+cu117
torch_summary==1.4.5
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tqdm==4.65.0